<section class="cinema">
    <div class="cinema__wrapper">
        <div class="cinema-promo">
            <div class="cinema-promo__content">
                <h1 class="cinema-promo__heading title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua.</h1>
                <ul class="cinema-promo__dimensions list-reset list">
                    <li class="list-item"><span class="list-item__text">360p</span></li>
                    <li class="list-item"><span class="list-item__text">720p</span></li>
                    <li class="list-item"><span class="list-item__text">HD</span></li>
                    <li class="list-item"><span class="list-item__text">Full HD</span></li>
                    <li class="list-item"><span class="list-item__text">4k</span></li>
                </ul>
            </div>
        </div>
        <div class="cinema-facts"></div>
    </div>
</section>