html {
  box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  min-height: 100vh;
  min-width: 369px;
  font-family: var(--font-family);
  color: var(--c-black);
  position: relative;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background: var(--c-white);
  letter-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(var(--font-family), sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    color: inherit;
    outline: none;
  }

}

a,
button {
  &:disabled {
    pointer-events: none;
  }
}

section,
footer,
header {
  position: relative;
}

.site-container {
  max-width: $desktop-max-width;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-offset);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}